#form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #aaa9ad;
    border-bottom: 4px solid #737c7fa3;
}
input, button {
    border: none;
    outline: none;
    background: transparent;
}
input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}
button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
#main_name {
    font-size: 100px;
    text-align: center;
    font-family: Milston;
    color: #000000;
}
#Cross{
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2020/09/20/1391159/02a0b25b22b2b9b9b83bd62840d4d6d7.jpg");
    background-size: 170px;
    color: transparent;
    display: inline-block;
    font-size: 100px;
    text-align: left;
    color: white;
    font-family: Freco;
    text-decoration: none;
}
#Gel{
    background-image: url("https://a.d-cd.net/GEAAAgFHfeA-1920.jpg");
    background-size: 170px;
    color: transparent;
    display: inline-block;
    font-size: 100px;
    text-align: left;
    color: white;
    font-family: Freco;
    text-decoration: none;
}
#main_img
{  display: block;
    margin: 0 auto;
    width: 97%;
    height: 560px;
    max-width: 65%;
}
#Sed {
    background-image: url("https://www.tadviser.ru/images/0/01/Mercedes-benz-c-class-2018-w205-amg-silver-new-c-class.jpg");
    background-size: 170px;
    color: transparent;
    display: inline-block;
    font-size: 100px;
    text-align: left;
    color: black;
    font-family: Freco;
    text-decoration: none;
}
#main_text {
    font-size: 30px;
    color: white;
    background-color: black;
    border: black 5px;
    margin: 25px;
    padding: 70px ;
    font-family: Freco;
}
#img2 {
    width: 97%;
    height: 560px;
    max-width: 65%;
    display: block;
    margin: 0 auto;
}
#laws {
    font-size: 15px;
    background-color: black;
    color: white;
}
